<p class="h1">Change password</p>

<form [formGroup]="form" (ngSubmit)="changePassword()">

  <label class="h5" for="firstPassword">Enter new password :</label>
  <input type="password" id="firstPassword" formControlName="firstPassword" class="form-control">

  <label class="h5" for="confirmPassword">Confirm new password :</label>
  <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">

  <button type="submit" class="btn btn-secondary" [disabled]="isPasswordSame()">Change password</button>
  <p class="bg-danger" *ngIf="isPasswordSame()">Passwords don't match !</p>
</form>
