<form [formGroup]="creationCompte" (ngSubmit)="notifyCreationUtilisateur()">
  <div [class]="DEFAULT_DIVPARAMETERS">
    <div class="col-md-6">
      <label for="email">Email :</label>
      <input type="email" id="email" [className]="INPUT_DEFAULTSTYLE"
             formControlName="email"
             placeholder="Enter a valid mail">
    </div>
  </div>

  <div [class]="DEFAULT_DIVPARAMETERS">
    <div class="col-md-3">
      <label for="nom">Name :</label>
      <input type="text" id="nom" formControlName="nom" [className]="INPUT_DEFAULTSTYLE" placeholder="Your name">
    </div>
    <div class="col-md-3">
      <label for="prenom">First name :</label>
      <input type="text" id="prenom" formControlName="prenom" [className]="INPUT_DEFAULTSTYLE" placeholder="Your firstname">
    </div>
  </div>

  <div [class]="DEFAULT_DIVPARAMETERS">
    <div class="col-md-6">
      <label for="password">Password :</label>
      <input type="password" id="password" formControlName="password" [className]="INPUT_DEFAULTSTYLE">
    </div>
  </div>

  <button type="submit" [className]="BUTTON_DEFAULTSTYLE" class="bg-danger">Create an account</button>
</form>
