<div class="container-fluid main">
    <form [formGroup]="form" (ngSubmit)="emitNewEvenement()">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col" style="width:50%">Field name</th>
          <th scope="col" style="width:50%">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><label for="nomEvent">Name of the event : </label></td>
          <td><input type="text" formControlName="nomEvent" id="nomEvent" placeholder="Dinner at mamy..." class="form-control"></td>
        </tr>

        <tr>
          <td><label for="descriptionEvent">Description : </label></td>
          <td><textarea formControlName="descriptionEvent" id="descriptionEvent" placeholder="Family dinner for BigJim's birthday..." class="form-control"></textarea></td>
        </tr>

        <tr>
          <td><label for="nbPersMinEvent">Number of participants : </label></td>
          <td>
            <input type="number" formControlName="nbPersMinEvent" id="nbPersMinEvent" min="1" max="1000" placeholder="Minimum (ex: 0)" class="form-control" style="width:25%">
            <input type="number" formControlName="nbPersMaxEvent" id="nbPersMaxEvent" min="1" max="1000" placeholder="Maximum (ex: 10)" class="form-control" style="width:25%">
          </td>
        </tr>

        <tr>
          <td><label for="dateDebEvent">Beginning of the event : </label></td>
          <td><input type="datetime-local" formControlName="dateDebEvent" id="dateDebEvent" min="2018-01-01" max="2100-12-31" class="form-control" style="width: 48%"></td>
        </tr>

        <tr>
          <td><label for="dateFinEvent">End of the event : </label></td>
          <td><input type="datetime-local" formControlName="dateFinEvent" id="dateFinEvent" min="2019-01-01" max="2100-12-31" class="form-control" style="width: 48%"></td>
        </tr>

        <tr>
          <td colspan="2"><button [disabled]="!form.valid" [className]="BUTTON_DEFAULTCLASS" data-toggle="modal" data-target="#exampleModal">Validate</button></td>
        </tr>
        </tbody>
      </table>

      <!--Notification-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" style="color:black">Event creation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="isValid(); else isNotValid" style="color:grey">
              ✔ Event created
            </div>
            <ng-template #isNotValid>
              <div style="color:grey">❌ Event invalid</div>
            </ng-template>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="redirectAfterCreation()">Close</button>
            </div>
          </div>
        </div>
      </div>
    </form>
</div>
