.cursor{
  cursor:pointer;
}

.title:hover{
  background-color: var(--gendaDarkBlue);
  color:black;
}

.title:active {
  background-color: var(--gendaLightBlue);
  text-shadow: black;
}

.h3{
  color:var(--gendaLightBlue);
}

.active{
  background-color: var(--gendaLightBlue);
  color:black;
}

.inactive{

}

.dash{
  border-left:2px solid var(--gendaLightBlue);
  border-right:2px solid var(--gendaLightBlue);
  border-bottom:2px solid var(--gendaLightBlue);
}
