<div *ngIf="isHidden; else elseBlock" class="dash">
  <div>
    <button [className]="DASHBOARD_BUTTON_HIDE" (click)="isHidden=!isHidden">❌</button>
    <p [className]="DEFAULT_LABEL">GLOBAL</p>
    <div  [className]="tabClass[0]" (click)="goToAllPages();setSelected(0)" ><span [className]="DEFAULT_SPAN">All pages</span></div>
    <div [className]="tabClass[1]" (click)="goToAllEvents();setSelected(1)"><span [className]="DEFAULT_SPAN">All events</span></div>
    <div [className]="tabClass[2]" (click)="goToTrends();setSelected(2)"><span [className]="DEFAULT_SPAN">TRENDS 🏆</span></div>

    <p [className]="DEFAULT_LABEL">FEED</p>
    <div [className]="tabClass[3]" (click)="goToMyPages();setSelected(3)"><span [className]="DEFAULT_SPAN">My pages</span></div>
    <div [className]="tabClass[4]" (click)="goToMyEvents();setSelected(4)"><span [className]="DEFAULT_SPAN">My events</span></div>
    <div [className]="tabClass[5]" (click)="goToMyGenda();setSelected(5)"><span [className]="DEFAULT_SPAN">My Genda</span></div>

    <p [className]="DEFAULT_LABEL">MANAGE</p>
    <div [className]="tabClass[6]" (click)="goToManagementMyPages();setSelected(6)"><span [className]="DEFAULT_SPAN">My pages</span></div>
    <div [className]="tabClass[7]" (click)="goToManagementMyEvents();setSelected(7)"><span [className]="DEFAULT_SPAN">My events</span></div>
    <div [className]="tabClass[8]" (click)="goToManagementNewPage();setSelected(8)"><span [className]="DEFAULT_SPAN">New page</span></div>
  </div>
</div>

<ng-template #elseBlock>
  <div>
    <button [className]="DASHBOARD_BUTTON_SHOW" (click)="isHidden=!isHidden">✔</button>
  </div>

</ng-template>


