<div *ngIf="userSelected != null">

  <p class="h1">{{userSelected.prenom}} {{userSelected.nom}}</p>
  <small class="text-muted">{{userSelected.email}}</small>

  <span *ngIf="!userSelected.estAdmin">⭐ Administrator</span>

  <input type="password" readonly value="password" class="form-control col-5">
  <br>
  <input type="button" class="btn btn-success" routerLink="../change/mail" value="Change mail">
  <br>
  <input type="button" class="btn btn-warning" routerLink="../change/password" value="Change password">

</div>

