<!DOCTYPE html>
<html>
<body>

  <app-navigation-bar></app-navigation-bar>
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="connected_user!=null" class="col-2">
        <app-dashboard-smart></app-dashboard-smart>
      </div>
      <div class="col"><router-outlet></router-outlet></div>
    </div>
  </div>

</body>
</html>
