@font-face {
  font-family: "Sunday";
  src: url("../assets/fonts/SUNDAY.ttf");
}

body {
  padding-bottom: 100%;
  background-color: #000000;
  color: #d6d6d6;
  font-family: Sunday;
  --gendaLightBlue : #09a8e1;
  --gendaDarkBlue : #0986bc;
  overflow-x : hidden;
  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
