<div class="row justify-content-center" *ngIf="!eventIsSelected"><h2>My events - Moderation</h2></div>
<div class="row justify-content-center" *ngIf="eventIsSelected"><h2>Edit event</h2></div>
<div class="row justify-content-center mt-3 mb-3" *ngIf="!eventIsSelected"><button class="btn btn-primary"(click)="emitReloadEvents()">🔄</button></div>
<table class="table table-bordered" *ngIf="!eventIsSelected">
  <thead>
    <th>Name of the event</th>
    <th>Edit event</th>
  </thead>
  <tbody>
  <tr *ngFor="let e of events">
    <td>{{e.nomEvent}}</td>
    <td><button class="btn btn-secondary" (click)="emitSelectedEvent(e)">Edit event</button></td>
  </tr>
  </tbody>
</table>

<div class="col-sm">
  <form [formGroup]="form" *ngIf="eventIsSelected">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col" width="30%">Name</th>
        <th scope="col" width="40%">Value</th>
        <th scope="col" width="20%">Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><label for="nomEvent">Name of the event : </label></td>
        <td><input type="text" formControlName="nomEvent" id="nomEvent" class="form-control"></td>
        <td><button class="btn btn-info w-100" (click)="activateField(FIELD_NOMEVENT)">Edit</button></td>
      </tr>

      <tr>
        <td><label for="descriptionEvent">Description : </label></td>
        <td><textarea formControlName="descriptionEvent" id="descriptionEvent" class="form-control"></textarea></td>
        <td><button class="btn btn-info w-100" (click)="activateField(FIELD_DESCRIPTION)">Edit</button></td>
      </tr>

      <tr>
        <td><label for="nbPersMinEvent">Number of participants : </label></td>
        <td>
          <label for="nbPersMinEvent">Min:</label>
          <input type="number" formControlName="nbPersMinEvent" id="nbPersMinEvent" min="0" class="form-control" style="width:25%">

          <label for="nbPersMaxEvent">Max:</label>
          <input type="number" formControlName="nbPersMaxEvent" id="nbPersMaxEvent" min="1" class="form-control" style="width:25%">
        </td>
        <td>
          <button class="btn btn-info w-100" (click)="activateField(FIELD_MINEVENT)">Edit</button>
          <button class="btn btn-info w-100" (click)="activateField(FIELD_MAXEVENT)">Edit</button>
        </td>
      </tr>

      <tr>
        <td><label for="dateDebEvent">Beginning of the event : </label></td>
        <td><input type="datetime-local" formControlName="dateDebEvent" id="dateDebEvent" min="2018-01-01" max="2100-12-31" class="form-control" style="width: 40%"></td>
        <td><button class="btn btn-info w-100" (click)="activateField(FIELD_DEBEVENT)">Edit</button></td>
      </tr>

      <tr>
        <td><label for="dateFinEvent">End of the event : </label></td>
        <td><input type="datetime-local" formControlName="dateFinEvent" id="dateFinEvent" min="2019-01-01" max="2100-12-31" class="form-control" style="width: 40%"></td>
        <td><button class="btn btn-info w-100" (click)="activateField(FIELD_FINEVENT)">Edit</button></td>
      </tr>

      <tr>
        <td><input type="button" class="btn btn-secondary w-100" VALUE="Back" (click)="eventIsSelected=false"></td>
        <td><input type="button" class="btn btn-danger w-100" VALUE="Delete event" (click)="emitDeleteEvenement()"></td>
        <td><input type="button" class="btn btn-info w-100" VALUE="Edit event" data-toggle="modal" data-target="#exampleModal" (click)="emitChangeEvenement()"></td>
      </tr>

      </tbody>
    </table>

<!--------------------------------------------------------------------------------------------------------------------->
    <!--Notification-->
    <div [className]="FORMGROUP_DEFAULTCLASS">
      <div [className]="ROW_DEFAULTCLASS">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Event edition</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div *ngIf="isValid(); else isNotValid">
                ✔ Event edited
              </div>
              <ng-template #isNotValid>
                <div>❌ Event invalid</div>
              </ng-template>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="eventIsSelected=false">Close</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--------------------------------------------------------------------------------------------------------------------->
  </form>
</div>


