<form [formGroup]="connexion" (ngSubmit)="notifyConnexion()">
<div class="row">

    <label for="login" [className]="LABEL_DEFAULTCLASS">Login :</label>
    <input type="text" formControlName="login" id="login" [className]="INPUT_DEFAULTCLASS">

    <label for="password" [className]="LABEL_DEFAULTCLASS">Password :</label>
    <input type="password" formControlName="password" id="password" [className]="INPUT_DEFAULTCLASS">

</div>

<div class="row d-flex justify-content-center mt-3">
    <button type="submit" [className]="BUTTON_DEFAULTCLASS"> Log in </button>
</div>
</form>
<div class="row d-flex justify-content-center mt-5 badge align-middle">
  <p [className]="LABEL_DEFAULTCLASS" class="align-middle">No account yet ?</p> <br/>
  <button [className]="BUTTON_DEFAULTCLASS" routerLink="/account/create">Create an account</button>
</div>

<div class="row d-flex justify-content-center mt-5 align-middle" *ngIf="!isValid">
  <span class="h3 bg-danger"> Email or password is incorrect, please provide an existing account</span>
</div>
