<form [formGroup]="form" (ngSubmit)="changeMail()">

  <label for="newMail"></label>
  <input type="text" id="newMail" formControlName="newMail" placeholder="Enter new mail">

  <button type="submit" class="btn btn-secondary" [disabled]="!isMailValid()">Change mail</button>

</form>
