<div *ngIf="page">
  <div class="row justify-content-center"><h1 id="nom">{{page.nom}}</h1></div>
  <div class="row justify-content-center font-italic mt-2"><h4 id="type">{{page.type}}</h4></div>
  <div class="row justify-content-center" id="liens">
    <button class="btn btn-info m-1" style="width:3%" (click)="linkToPage(FACEBOOK_LINK)"><img src="../../../assets/images/facebook.png" class="img-fluid"></button>
    <button class="btn btn-info m-1" style="width:3%" (click)="linkToPage(TWITTER_LINK)"><img src="../../../assets/images/twitter.png" class="img-fluid"></button>
    <button class="btn btn-info m-1" style="width:3%" (click)="linkToPage(SITE_LINK)"><img src="../../../assets/images/website.png" class="img-fluid"></button>
  </div>
  <div class="row justify-content-center mt-5 mr-5 ml-5"><h5 class="font-weight-bold">Description :</h5></div>
  <div class="row justify-content-center border mr-5 ml-5" id="description">{{page.description}}</div>

  <hr class="mt-5 mb-5">
  <div class="row justify-content-center"><h3>List of events from : {{page.nom}}</h3></div>
  <table class="table table-bordered">
    <thead>
      <th>Name of the event</th>
      <th>Event details</th>
    </thead>
    <tbody>
      <tr *ngFor="let e of events">
        <td>{{e.nomEvent}}</td>
        <td><button class="btn btn-primary" routerLink="/event/detail" (click)="notifyEventSelected(e)">Event details</button></td>
      </tr>
    </tbody>
  </table>

</div>


