.Classement0{
  background-color: gold;
  font-size: 32px;
}
.Classement1{
  background-color: grey;
  font-size: 28px;
}
.Classement2{
  background-color: chocolate;
  font-size: 24px;
}

.Classement0:before{
  content: "🥇";
}
.Classement1:before{
  content: "🥈";
}
.Classement2:before{
  content : "🥉";
}
