<div class="row justify-content-center"><h2>TRENDS 🏆</h2></div>
<div class="row justify-content-center mt-3 mb-3"><button class="btn btn-primary"(click)="emitReloadEvents()">🔄</button></div>
<table class="table table-bordered">
  <tr *ngFor="let event of events;index as i">
      <td [className]="'Classement'+i">{{i+1}}</td>
      <td>{{event.nomEvent}}</td>
      <td>Fr : {{event.dateDebEvent | date:'dd-MM-y | HH:mm'}} <br> To : {{event.dateFinEvent | date:'dd-MM-y | HH:mm'}}</td>
      <td><button class="btn btn-primary" routerLink="/event/detail" (click)="notifyEventSelected(event)">Event details</button></td>
  </tr>
</table>


