<div class="row justify-content-center mt-3"><h3>Going to Mars without a plan? Not a good plan! 🚀</h3></div>
<div class="row overflow-auto d-flex justify-content-center h-100">
  <div class="col-5">
    <div class="mt-5 rounded align-middle d-flex justify-content-center h-25 p-5">
      <app-connexion (emitConnection)="notifyConnection($event)" [isValid]="isValid"></app-connexion>
    </div>
  </div>
</div>

<br/>
