<div class="row justify-content-center"><h2>Edit page</h2></div>
<form [formGroup]="form">
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col" width="40%">Name</th>
    <th scope="col" width="40%">Value</th>
    <th scope="col" width="20%">Modify</th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td><label for="nom-page">Page name :</label></td>
        <td><input type="text" class="form-control" id="nom-page" formControlName="nom"></td>
        <td><button class="btn btn-info w-100" (click)="activateField(FIELD_NOM)">Modify</button></td>
      </tr>

      <tr>
        <td><label for="type-page">Type :</label></td>
        <td>
          <select class="form-control" name="type-page" size="1" id="type-page" formControlName="type">
            <option>Company</option>
            <option>Organization</option>
            <option>Particular</option>
          </select>
        </td>
        <td><button class="btn btn-info w-100" (click)="activateField(FIELD_TYPE)">Modify</button></td>
      </tr>

      <tr>
        <td><label for="description-page">Description</label></td>
        <td><textarea class="form-control" id="description-page" formControlName="description"></textarea></td>
        <td><button class="btn btn-info w-100" (click)="activateField(FIELD_DESCRIPTION)">Modify</button></td>
      </tr>

      <tr>
        <td><label for="siteweb-page">Website link</label></td>
        <td><input type="text" class="form-control" id="siteweb-page" formControlName="lienSite"></td>
        <td><button class="btn btn-info w-100" (click)="activateField(FIELD_LIENSITE)">Modify</button></td>
      </tr>

      <tr>
        <td><label for="facebook-page">Facebook link</label></td>
        <td><input type="text" class="form-control" id="facebook-page" formControlName="lienFacebook"></td>
        <td><button class="btn btn-info w-100" (click)="activateField(FIELD_LIENFACEBOOK)">Modify</button></td>
      </tr>

      <tr>
        <td><label for="twitter-page">Twitter link</label></td>
        <td><input type="text" class="form-control" id="twitter-page" formControlName="lienTwitter"></td>
        <td><button class="btn btn-info w-100" (click)="activateField(FIELD_LIENTWITTER)">Modify</button></td>
      </tr>
      <tr>
        <td><button type="submit" class="btn btn-secondary w-100"  routerLink="../admin/list">Back</button></td>
        <td><button type="submit" class="btn btn-danger w-100" (click)="emitDelete()" [disabled]="mail_current === ''" routerLink="../admin/list">Delete page</button></td>
        <td><button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid" (click)="emitAndApplyChanges()" routerLink="../admin/list">Edit page</button></td>
      </tr>

  </tbody>

</table>

  <hr>
  <div class="row justify-content-center"><h2>Moderators</h2></div>
  <div class="row justify-content-center mb-3 mt-3"><button class="btn btn-success" data-toggle="modal" data-target="#addNewModerator">Add a new moderator</button></div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col" width="80%">Mail</th>
      <th scope="col" width="20%">Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let modo of moderators; index as ind">
      <td scope="col" width="80%"><span *ngIf="modo.estAdmin">⭐</span>{{modo.email}}</td>
      <td scope="col" width="20%" *ngIf="!(modo.email === mail_current) && mail_current !== ''">
        <button class="btn btn-danger w-100" (click)="ungrant(ind)">Ungrant role</button>
        <button class="btn btn-info w-100" (click)="grantToAdmin(ind)">⭐ Grant to admin</button>
      </td>
      <td *ngIf="modo.email === mail_current || mail_current === ''">
        <p>You can't modify this, please ask an administrator</p>
      </td>
    </tr>

    </tbody>

  </table>

</form>

<div class="modal" id="addNewModerator" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a new moderator</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p *ngIf="mail_current === ''">It seems that you don't have permission to add a new moderator. Please ask an administrator.</p>
        <div *ngIf="mail_current !== ''">
          <p>Please enter the email of the account you want to add :</p>
          <input type="text" [(ngModel)]="newModeratorMail" class="form-control">
          <p class="text-muted">Please note that adding someone as a moderator gives access to page and event-related management. If something happens during the time this person is moderator,
            note that you won't be able to retrieve deleted data back.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="newModeratorMail=''">Cancel</button>
        <button type="button" class="btn btn-danger" [disabled]="newModeratorMail.trim() === ''" data-dismiss="modal" (click)="grantToModerator()">Add moderator</button>
      </div>

    </div>
  </div>
</div>
