<div *ngIf="event">
  <div class="row justify-content-center"><h1 id="nom">{{event.nomEvent}}</h1></div>
  <div class="mr-5 ml-5 mt-5 mb-5 justify-content-center">
    <table class="table table-bordered" align="center" style="width: 50%;">
      <thead>
      <th colspan="2" style="text-align: center">Event Date</th>
      </thead>
      <thead>
      <th>Beginning</th>
      <th>End</th>
      </thead>
      <tbody>
      <td>{{event.dateDebEvent | date:'dd-MM-y | HH:mm'}}</td>
      <td>{{event.dateFinEvent | date:'dd-MM-y | HH:mm'}}</td>
      </tbody>
    </table>
  </div>
  <hr>
  <div class="mr-5 ml-5 mt-5 mb-5 justify-content-center">
    <table class="table table-bordered" align="center" style="width: 50%;">
      <thead>
      <th colspan="2" style="text-align: center">Number of participants</th>
      </thead>
      <thead>
      <th>Minimum</th>
      <th>Maximum</th>
      </thead>
      <tbody>
      <td>{{event.nbPersMinEvent}}</td>
      <td>{{event.nbPersMaxEvent}}</td>
      </tbody>
    </table>
  </div>

  <hr class="mt-5 mb-5">

  <div class="row justify-content-center mt-5 mr-5 ml-5"><h5 class="font-weight-bold">Description :</h5></div>
  <div class="row justify-content-center border mr-5 ml-5" id="description">{{event.descriptionEvent}}</div>



</div>
