@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
/* You can add global styles to this file, and also import other style files */

.table-bordered{
  border:2px solid var(--gendaLightBlue);
}

th{
  color:deepskyblue;
}

td{
  color:powderblue;
  font-size:16px;
}

h2{
  color:var(--gendaDarkBlue);
}

.btn{
  color:black;
}
