<div class="row justify-content-center"><h2>New page</h2></div>

<form [formGroup]="form" (ngSubmit)="emitPage()">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col" style="width:50%">Field name</th>
      <th scope="col" style="width:50%">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><label for="nom-page">Name of the page</label></td>
      <td><input type="nom-page" class="form-control" id="nom-page" formControlName="nom" placeholder="HELHa Economic department..."></td>
    </tr>
    <tr>
      <td><label for="type-page">Type of page : </label></td>
      <td>
        <select class="form-control" name="type-page" size="1" id="type-page" formControlName="type">
          <option>Company</option>
          <option>Organization</option>
          <option>Particular</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label for="description-page">Description</label></td>
      <td><textarea class="form-control" id="description-page" formControlName="description" placeholder="Department of HELHa including: IT, accounting..."></textarea></td>
    </tr>
    <tr>
      <td><label for="siteweb-page">Website link</label></td>
      <td><input type="siteweb-page" class="form-control" id="siteweb-page" formControlName="lienSite" placeholder="https://www.helha.be/study/economic..."></td>
    </tr>
    <tr>
      <td><label for="facebook-page">Facebook link</label></td>
      <td><input type="facebook-page" class="form-control" id="facebook-page" formControlName="lienFacebook" placeholder="https://www.facebook.com/helha/economic..."></td>
    </tr>
    <tr>
      <td><label for="twitter-page">Twitter link</label></td>
      <td><input type="twitter-page" class="form-control" id="twitter-page" formControlName="lienTwitter" placeholder="https://www.twitter.com/helha/economic..."></td>
    </tr>
    <tr>
      <td><span>By creating your page, you agree to the privacy policy</span></td>
      <td><input type="checkbox" class="form-control"(click)="updateAgreement()"></td>
    </tr>
    <tr>
      <td colspan="2"><button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid || !agreement" data-toggle="modal" data-target="#exampleModal">Validate</button></td>
    </tr>
    </tbody>
  </table>
</form>

<!--Notification-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:black">Page creation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="color:grey">
        ✔ Page created
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="redirectAfterCreation()">Close</button>
      </div>
    </div>
  </div>
</div>
