<div class="row justify-content-center"><p class="h1">FAQ</p></div>

<p [className]="LABEL_STYLE">What is Genda ?</p>
<p>
  Genda is a web application that allows you to plan and manage your events as you wish.
  You can create a page which allows you to share your events with the world.
  You can also attend other users' events and then make great meetings trough the website !
</p>

<p [className]="LABEL_STYLE">How do I use Genda ?</p>
<p>
  To use Genda, simply create an account using your email address and a password.
  When you have your account created, simply connect with it on the main page.
  At the moment you are logged on, you can simply use the dashboard to navigate and search what you want to join and follow !
</p>

<p [className]="LABEL_STYLE">How do I create a page ?</p>
<p>
  Simply click on "New page" in the dashboard. Enter the information you want to add to your page and then click "Create". Your page is now created and available on Genda !
</p>

<p [className]="LABEL_STYLE">How do I create an event ?</p>
<p>
  To create an event, go to "My pages" under the "Management" section in the dashboard. Then, you will have to click the "Create event" button in the row of the page you want to create an event for.
  Enter all the details of your event and then click "Create". By then, when someone will go to your page, he will be able to see your new event and perhaps attend it !
</p>

<p [className]="LABEL_STYLE">What does the "GLOBAL" panel include?</p>
<p>
  All pages : Will show you all the pages of the site that you do not follow yet !<br>
  All events : Will show you all the events of the site that you did not join yet !<br>
  TRENDS : Will show you all the events of the site by ranking those who will soon arrive first !
</p>

<p [className]="LABEL_STYLE">What does the "FEED" panel include?</p>
<p>
  All pages : Will show you all the pages of the site you are already following !<br>
  All events : Will show you all the events of the site that you have already joined !<br>
  My Genda : Calendar showing you all the events that you joined in a user-friendly interface !
</p>

<p [className]="LABEL_STYLE">What does the "MANAGE" panel include?</p>
<p>
  All pages : Will show you all the pages of the site you are moderating !<br>
  All events : Will show you all the events of the site that belong to the pages that you are moderating !<br>
  New pages : Shortcut to the interface to create a new page !
</p>



