<div class="row justify-content-center"><h2>All events</h2></div>
<div class="row justify-content-center mt-3 mb-3"><button class="btn btn-primary"(click)="emitReloadEvents()">🔄</button></div>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col" style="width:30%">
      Name
      <input type="text" [(ngModel)]="nameSearched" placeholder="🔎">
    </th>
    <th scope="col" style="width:30%">
      Date -
      <span> Sort : </span>
      <button (click)="sortByWhat='asc'">⬇</button>
      <button (click)="sortByWhat='desc'">⬆</button>
    </th>
    <th scope="col" style="width:20%">Event details</th>
    <th scope="col" style="width:20%">Join event</th>
  </tr>
  </thead>
  <tr *ngFor="let event of events|sortBy:sortByWhat:'dateDebEvent'|filterEventsNames:nameSearched">
    <td>{{event.nomEvent}}</td>
    <td>Fr : {{event.dateDebEvent | date:'dd-MM-y | HH:mm'}} <br> To : {{event.dateFinEvent | date:'dd-MM-y | HH:mm'}}</td>
    <td><button class="btn btn-primary" routerLink="/event/detail" (click)="notifyEventSelected(event)">Event details</button></td>
    <td><button class="btn btn-success" (click)="newJoinEvent(event)">Join event</button></td>
  </tr>

</table>
