<div class="row">
  <div class="col">

    <div class="mt-2">
      <img src="../../assets/images/logo.png" class="navbar-brand ml-2 mb-2 img-fluid" style="width:200px" routerLink="">
      <span class="badge badge-info">Early Access </span>
      <span class="ml-5" *ngIf="isConnected()">Going to Mars without a plan? Not a good plan! 🚀</span>
      <nav class="navbar navbar-expand-lg float-right">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">&#9776;</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/faq">FAQ</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isConnected()">
              <a class="nav-link" routerLink="/account/settings">Settings</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isConnected()">
              <a class="nav-link"  routerLink="" (click)="logOut()">Log out</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isConnected()">
              <a class="nav-link"  routerLink="/log/in">Log in</a>
            </li>

          </ul>
        </div>

      </nav>

    </div>

  </div>
</div>

<div class="row bg-black">
  <div class="col">
    ?
  </div>
</div>
