.badge {
  font-size: 15px;
}

nav {
  font-size: 25px;
}

a {
  font-family: Sunday;
  color: var(--gendaLightBlue);
}

a:hover {
  color: var(--gendaDarkBlue);
  text-shadow: black 1px 1px 2px;
}

div {
  text-shadow: black 0px 1px 1px;
}

.bg-black {
  background-color: var(--gendaLightBlue);
  height: 2px;
  font-size: 0px;
}

.navbar-toggler{
  color: var(--gendaLightBlue);
}
