<div class="row justify-content-center"><h2>My pages</h2></div>
<div class="row justify-content-center mt-3 mb-3"><button class="btn btn-primary"(click)="emitReloadPages()">🔄</button></div>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col" style="width:35%">
      Type :
      <select [(ngModel)]="typeSearched">
        <option value="{{OPTION_ALL}}">{{OPTION_ALL}}</option>
        <option value="{{OPTION_ENTREPRISE}}">{{OPTION_ENTREPRISE}}</option>
        <option value="{{OPTION_ORGANISATION}}">{{OPTION_ORGANISATION}}</option>
        <option value="{{OPTION_PARTICULIER}}">{{OPTION_PARTICULIER}}</option>
      </select>
    </th>
    <th scope="col" style="width:35%">
      Name :
      <input type="text" [(ngModel)]="nameSearched" placeholder="🔎">
      <span> Sort : </span>
      <button (click)="sortByWhat='asc'">⬇</button>
      <button (click)="sortByWhat='desc'">⬆</button>
    </th>
    <th scope="col" style="width:15%">Page details</th>
    <th scope="col" style="width:15%">Unfollow page</th>
  </tr>
  </thead>
  <tr *ngFor="let page of pages|sortBy:sortByWhat:'nom'|filterPagesTypes:typeSearched|filterPagesNames:nameSearched; index as i">
    <td>{{page.type}}</td>
    <td>{{page.nom}}</td>
    <td><button class="btn btn-primary" (click)="notifyPageSelected(page)" routerLink="/page/detail">Page details</button></td>
    <td><button class="btn btn-danger" (click)="notifyUnfollow(i)">Unfollow page</button></td>
  </tr>

</table>
